.container {
    display:flex;
    flex-wrap:wrap;
    padding:0;
    left:0
  }
  .nav-bar {
    display:block;
    border-right:solid rgb(168, 163, 163);
     border-left:solid rgb(200, 198, 198);
    border-width: thin;
    border-right-width: thick;
    width:250px;
    position:fixed;
    height:100%;
    top:0;
    left:0;
    text-align:left;
  
  }
  .nav-link {
    display:flex;
  padding-top:15px;
  padding-bottom:20px;
  Margin-left: 0;
  color: rgb(101, 98, 98);
  }
  
  #navbar li {
    list-style:none;
    text-align:left;
    padding-right:50%;
    border-bottom:solid rgb(200, 198, 198);
    border-width: thin;
    margin-left:0px;
    padding-left:15px;
    
  }
  #navbar ul {
    
    padding:0;
    border-top:solid rgb(200, 198, 198);
    border-width: thin;
    
  }
  .main {
   top:0;
   padding-left:270px; 
  }
  nav header {
    text-align:center;
    padding-top:8px;
    font-size:30px;
    font-weight: bold;
  }
  nav a {
    color:black;
    text-decoration:none;
  }
  header {
    font-size:23px;
    font-weight: bold;
  }
  
  #example {
    background-color: rgba(57, 211, 241, 6%);
    margin-left:50px;
  }
  
  li {
    margin-left:25px;
     font-family:Verdana,Courier New;
     font-size:15px;
     color: rgb(101, 98, 98);
  }
  
  p {font-family:Verdana,Courier New;
  font-size:15px;
   color: rgb(101, 98, 98);
  }
  code {
    font-size:14px;
    color: rgb(101, 98, 98);
  }
  h4 {
    font-size:17px;
  }
  section {
    padding:14px;
  }
  
  @media screen and (max-width: 650px) {
      .nav-bar {
          width: 100%;
          height: 40%;
          position: fixed;
          top: 0;
          left: 0;
          border-right: none;
          border-left: none;
          border-bottom: solid rgb(200, 198, 198);
          border-width: thin;
          background-color: white; 
          overflow: scroll;
          z-index: 1000;
      }
  
      #navbar ul {
          display: flex;
          flex-direction: column;
          width: 100%;
      }
  
      #navbar li {
          width: 100%;
          text-align: center;
          padding-right: 0;
          border-bottom: solid rgb(200, 198, 198);
          border-width: thin;
          float: none;
      }
  
      .main {
          position: relative;
          top: 350px; 
          padding-left: 0px;
          overflow-y: auto;
      }
  }
  